@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
      * {
        margin: 0;
        padding: 0;
        background-color: rgb(70, 92, 141);
      }
      h1 {
        font-family: "Tilt Prism", cursive;
        color: rgb(255, 168, 86);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5vh;
      }
      .blog {
        border: 2px solid rgb(40, 165, 29);
        height: auto;
        margin: 3vh;
      }
      .blog h1 {
        color: rgb(255, 255, 255);
        font-size: 1.5em;
      }
      .blog h2 {
        color: white;
        font-size: 1.4em;
        font-family: "Source Code Pro", monospace;
      }
      .enclose {
        padding: 2.5vh;
      }
      .blog p {
        font-size: 1.3em;
        color: white;
        font-family: "Source Code Pro", monospace;
      }
      footer {
        padding: 2.5vh;
        background-color: rgb(40, 90, 255);
        position: sticky;
        bottom: 0px;
        color: white;
      }
      footer a {
        color: rgb(30, 210, 111);
        background-color: rgb(40, 90, 255);
      }
      footer a:hover {
        color: rgb(255, 174, 0);
      }
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6vh auto 6vh auto;
      }